{% extends 'manager/Manager_Basic.html' %}
    {% block head %}
    <link rel="stylesheet" href="/static/CSS/formcss.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    {% endblock %}
{% block body %}
    <div class="frm" id="frmm" >
        <form action="/manage/createemployee" >
            <label for="employee_name">Enployee Name:</label>
            <input name="employee_name" id="employee_name" autocomplete="off" required placeholder="Enter Name of Employee" pattern="[a-z A-Z]+" oninvalid="this.setCustomValidity('Kindly enter name of Employee')" />
            <label for="employee_id">Enployee UID:</label>
            <input type="text" name="employee_uid" id="employee_uid" autocomplete="off" required placeholder="Enter UID of Employee" pattern="[a-z A-Z 0-9]+" oninvalid="this.setCustomValidity('Kindly enter name of Employee')" />
            <button type="submit">Submit</button>
            <button type="reset">Reset</button>
            <a href="/manage/showemployees"><button type="button">Show all</button></a>
        </form>
    <div id="result">{{result}}</div>
    </div>
{% endblock %}
