<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/CSS/formcss.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="frm" >
        <form action="/manage/saveemployee/{{employee.employee_uid}}" >
            <label for="employee_name">Enployee Name:</label>
            <input name="employee_name" required placeholder="Enter Name of Employee" value="{{employee.employee_name}}" />
            <label for="employee_uid">Enployee UID:</label>
            <input name="employee_uid" required placeholder="Enter UID of Employee" value="{{employee.employee_uid}}" />
            <button type="submit">Submit</button>
            <a href="/manage/deleteemployee/{{employee.employee_uid}}" onclick="return confirm('Are you sure you want to delete {{employee.employee_name}} from Employees')"><button type="button">Delete</button></a>
            <a href="/manage/showemployees"><button type="button">Show all</button></a>
        </form> 
    </div>
</body>
</html> -->